@font-face {
  font-family: CrimsonText;
  src: url(/assets/fonts/CrimsonText-Regular.ttf),
       url('/assets/fonts/crimsontext-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/crimsontext-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/CrimsonText-Regular.ttf') format('truetype'),
       Times New Roman, serif; /* Safari, Android, iOS */
}

:root {
  --spacer: 20px;
  --black: #000000; --darkest-brown: #0E0907; --darker-brown: #1A110D; --dark-brown: #2E1F17;
  --brown: #432D21; --light-brown: #533E2E; --lighter-brown: #604836;
  --action-brown: #7F4C34;
  --yellow: #E3D78F;
  --green: #3A7B64;
  --red: #832A28;
}

html, body {
  font-family: CrimsonText;
  margin: 0;
  min-height: 100vh;
  background: var(--darker-brown);
  color: white;
}

/* The header, including the RTM logo and user profile buttons  */
#header {
  width:           100%;
  height:          105px;
  align-items:     center;
  justify-content: space-between;
  display:         flex;
  background:      var(--dark-brown);
  box-shadow:      0px 0px 10px rgba(0,0,0,.5);
  padding:         10px 25px;
  box-sizing:      border-box;
  z-index:         10;
  position:        relative;
}

#logo {
  width:           100px;
  margin-top:      15px;
  margin-bottom:   25px;
  cursor:          pointer;
}

#user-buttons {
  position: relative;
  display: flex;
}
#user-buttons a, #user-buttons button {
  display:         block;
  color:           var(--yellow);
  text-decoration: none;
  border:          none;
  font-family:     CrimsonText;
  font-size:       1em;
  background:      var(--action-brown);
  margin-left:     10px;
  padding:         5px 20px;
  cursor:          pointer;
  border-radius:   4px;
}
#user-buttons a:hover, #user-buttons button:hover {
  filter:          brightness(1.05);
}
#user-buttons a:active, #user-buttons button:active {
  filter:          brightness(1.01);
}

#user-menu {
  position:        absolute;
  top:             30px;
  right:           0px;
  min-width:       120px;
  border:          solid 1px var(--dark-brown);
  background:      var(--action-brown);
  overflow-x:      hidden;
  border-radius:   4px;
}
#user-menu a, #user-menu button {
  border:          none;
  border-radius:   0px;
  width:           100%;
  margin:          0px;
  text-align:      left;
}

/*  Global styles  */
h1 {
  text-align: center;
}

a {
  color: var(--yellow);
}

input, textarea {
  background: var(--darkest-brown);
  color: white;
  border: solid 1px black;
}
input:focus, textarea:focus {
  outline: solid 1px var(--yellow);
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  appearance: none;
  background: var(--action-brown);
  border-radius: 5px;
  cursor: pointer;
}
input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/assets/icons/check.svg);
  width: 30px;
  height: 30px;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  appearance: none;
  background: var(--action-brown);
  border-radius: 50%;
  cursor: pointer;
}
input[type="radio"]:checked {
  border-color: var(--yellow);
}
input[type="radio"]:checked::after {
  content: '';
  display: block;
  background: var(--yellow);
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 50%;
}

pre {
  border: solid 1px var(--brown);
  width: 100%;
  white-space: pre-wrap;
  text-indent: 0px;
  background: var(--darkest-brown);
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--action-brown);
  color: var(--yellow);
  border: 1px solid var(--brown);
  cursor: pointer;
}
button:hover {
  filter: brightness(1.1);
}
button:active {
  filter: brightness(0.9);
}

hr {
  border-color: var(--yellow);
}

table, th, td {
  border: solid 1px var(--brown);
  border-collapse: collapse;
}
table {
  box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}
th, td {
  padding: 5px 10px;
}
th {
  background: var(--brown);
}
tr {
  background: var(--lighter-brown);
}
tr:nth-child(even) {
  background: var(--light-brown);
}

.px-1 {
  padding-left: calc(var(--spacer) * 0.25);
  padding-right: calc(var(--spacer) * 0.25);
}
.px-2 {
  padding-left: calc(var(--spacer) * 0.5);
  padding-right: calc(var(--spacer) * 0.5);
}
.px-3 {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}
.p-3 {
  padding: var(--spacer);
}

.center-column {
  max-width: 800px;
  margin: 0 auto;
}