@font-face {
    font-family: CrimsonText;
    src: url(/assets/fonts/CrimsonText-Regular.ttf),
        url('/assets/fonts/crimsontext-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/crimsontext-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('/assets/fonts/CrimsonText-Regular.ttf') format('truetype'),
        Times New Roman, serif; /* Safari, Android, iOS */
}

html, body {
    font-family: CrimsonText;
    margin: 0;
    min-height: 100vh;
}

:root {
    --spacer: 20px;
}
  
/* The header, including the RTM logo and user profile buttons  */
#header {
    width:           100%;
    height:          105px;
    align-items:     center;
    justify-content: space-between;
    display:         flex;
    background:      #efefef;
    box-shadow:      0px 0px 10px rgba(0,0,0,.5);
    padding:         10px 25px;
    box-sizing:      border-box;
    z-index:         10;
    position:        relative;
}
#header.dark {
    background: #1f1f1f;
    color: white;
}
  
#logo {
    width:           100px;
    margin-top:      15px;
    margin-bottom:   25px;
    cursor:          pointer;
}
#header.dark #logo {
    filter: invert(1);
}
  
#user-buttons {
    position: relative;
    display: flex;
}
#user-buttons a, #user-buttons button {
    display:         block;
    color:         black;
    text-decoration: none;
    border:          solid 1px #bbb;
    background:      #f6f6f6;
    margin-left:     10px;
    padding:         5px 20px;
    cursor:          pointer;
    border-radius:   4px;
}
#user-buttons a:hover, #user-buttons button:hover {
    filter:          brightness(1.05);
}
#user-buttons a:active, #user-buttons button:active {
    filter:          brightness(1.01);
}
#header.dark #user-buttons a, #header.dark #user-buttons button {
    background:      #2f2f2f;
    color:         white;
}

#content {
    min-height: calc(100vh - 100px);
}
#content.dark {
    background:    black;
    color:         white;
}
#content.dark input {
    background: #2f2f2f;
    color: white;
    border: solid 1px #1f1f1f;
}
#content.dark button {
    background: #2f2f2f;
    color: white;
    border: solid 1px #1f1f1f;
}
#content.dark button:hover {
    background: #3f3f3f;
    color: white;
    border: solid 1px #1f1f1f;
}

#user-menu {
    position:        absolute;
    top:             30px;
    right:           0px;
    min-width:       120px;
    border:          solid 1px #bbb;
    background:      #f6f6f6;
    overflow-x:      hidden;
    border-radius:   4px;
}
#user-menu a, #user-menu button {
    border:          none;
    border-radius:   0px;
    width:           100%;
    margin:          0px;
    text-align:      left;
}

  
/*  Global styles  */
.px-1 {
    padding-left: calc(var(--spacer) * 0.25);
    padding-right: calc(var(--spacer) * 0.25);
}
.px-2 {
    padding-left: calc(var(--spacer) * 0.5);
    padding-right: calc(var(--spacer) * 0.5);
}
.px-3 {
    padding-left: var(--spacer);
    padding-right: var(--spacer);
}
.p-3 {
    padding: var(--spacer);
}

.center-column {
    max-width: 800px;
    margin: 0 auto;
}